*
{
    margin:0px;
    padding: 0px;
}



#get-div
{
    height: 500px;
    width:300px;
    align-content: center;
    padding-left:200px ;

}

h2
{
    padding: 8px;
}

#get_table
{
    width: 800px;
    height: 400px;
    border: 1;
    background-color: white;
    text-align: center;
}

#create-container
{
    height:300px;
    width: 100px;
    padding: 20px;
} 

h2
{
    margin-right: 760px;
    color: white;
}

h3
{
    padding-bottom: 20px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #343977;
}

ul li {
  float: left;
}

ul li button {
  display: block;
  color: black;
  text-align: center;
  padding: 10px 12px;
  text-decoration: none;
  border-radius: 25px;
}

ul li button:hover {
  background-color: chartreuse;
}

#create-container
{
    height: 800;
    width: 700px;
    border : 5px solid black;
    align-content: center;
}