*
{
  margin:0px;
  padding:0px;
  color:white
  
}
body
{
  background: linear-gradient(to left, blue , red);

}
label
{
  padding: 5px;
  margin-top: 10px;
}
#login-card
{
  height: 400px;
  width:320px;
  border:10px 10px 10px 10px;
  box-shadow: 50px;
  align-content: space-evenly;
  margin-left:auto;
  margin-right: auto;
  margin-top: 100px;
  background: rgba(255, 255, 255, 0.31);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 20px;
  font-family: 'Times New Roman', Times, serif;

}
#username-input,#password-input
{
  border-radius: 25px;
  padding:5px 5px 5px 5px;
  margin-top:15px;
  height: 25px;
  width: 300px;
  color: black;

}
#login-button
{
  height:35px;
  width: 300px;
  margin-top:45px;
  padding: 10px;
  background: linear-gradient(to right, blue,red);
  border-radius: 25px;
}


h2
{
  font-size: 40px;
  margin-bottom: 45px;
  font-family: 'Times New Roman', Times, serif;

}

p#create-id{
  padding: 5px;
  margin-left: 55px;
}
p#reset-id{
    padding: 5px;
    margin-left: 35px;
}

