table,th,td
{
    border: 2px solid black;
    width: 400px;
}

#title,
#desc,
#todo-id,
#submit
{
    border-radius: 25px;
    margin: 5px;

}

#forward-todo
{
    border-radius: 25px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}

#back-todo
{
    border-radius: 25px;
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 1000;

}